Werkzeug==2.3.7
quart==0.18.3
hypercorn==0.17.3
aiofiles==24.1.0
blinker==1.9.0
h11==0.14.0
h2==4.2.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.10
priority==2.0.0
sniffio==1.3.1
urllib3==2.5.0
anyio==4.10.0
httpcore==0.17.3
httpx==0.24.1
MarkupSafe==3.0.2
itsdangerous==2.2.0
Jinja2==3.1.6
wsproto==1.2.0
greenlet==3.2.4
click==8.2.1
charset_normalizer==3.4.3
certifi==2025.8.3
SQLAlchemy==1.4.51
psycopg2-binary==2.9.9
python-dotenv==1.0.0
python-telegram-bot==20.3
razorpay==1.4.1
requests==2.32.4
setuptools>=75.1.0
